{
 :name "Paul S. Chun"
 :email "paul@sixofhearts.us"
 :description "Berlin-based software jack-of-all-trades. Building great software with great people. Formerly founded Rivalfox, previously worked at Heyzap."
 :looking? false
 :twitter-handle "sixofhearts"
 :linkedin-id "paulschun"
 :github-id "sixofhearts"
}
