{:bio {:name "Paul S. Chun"
       :portrait "/images/portrait.jpg"
       :lines
       ["Residence: Berlin, Germany"
        "Born January 6, 1986 in Stockton, California, United States of America"
        "Citizenship: United States of America"
        "Marital Status: Single"]}

 :sections
 [{:name "Employment"
   :items
   [{:header "Paul S. Chun"
     :subheader "Business, Technical Strategy &amp; Software Development Consultant"
     :items
     ["Recent Clients: Anonymous Berlin-based publishing company (Ruby/Padrino, Berlin), Frequency Precision (Clojure, London), RealLead (Ruby/Rails, Eugene, Oregon)"]
     :metadata-header "Various Locations"
     :metadata-subheader "May 2007 - Present"}

    {:header "Golden"
     :subheader "Lead Software Architect"
     :items
     ["Inspected company goals and optimized database relations to help it scale."
      "Improved web application requests served by 1000% via optimization of existing code and new technology implementation."
      "Created tooling around data manipulation and importing to Golden's public-facing pages."]
     :metadata-header "Remote"
     :metadata-subheader "July 2017 - July 2019"}

    {:header "Rivalfox"
     :subheader "CTO, Co-Founder"
     :items
     ["Assembled an engineering team on a Ruby on Rails stack and led development."
      "Architected systems and software utilizing AWS and Google Cloud technologies."
      "Transitioned from Rails to three tier web application with React."
      "Mentored and challenged employees to extend beyond their comfort zones and grow."]
     :metadata-header "Berlin, Germany"
     :metadata-subheader "April 2013 - September 2016"}

    {:header "Heyzap"
     :subheader "Full Stack Software Engineer"
     :items
     ["Developed APIs and standalone products with Ruby on Rails and JavaScript."
      "Led efforts in partner integrations on site and post-integration support."
      "Joined as the second full-time hire after company received seed funding."]
     :metadata-header "San Francisco, California"
     :metadata-subheader "April 2009 - July 2011"}]}
  {:name "Community"
   :items
   [{:header "Write Honey"
     :subheader "Creator & Maintainer"
     :items ["Singlehandedly planned, designed, built and marketed a popular web application in Clojure and ClojureScript."
             "Built a custom back end with Component, and the front end with Re-frame."]
     :metadata-header "Berlin, Germany"
     :metadata-subheader "December 2016 - Present"}

    {:header "Berlin Korean Language Meetup"
     :subheader "Organizer"
     :items ["Took over inactive meetup group and turned into group nominated as a top group by Meetup.com."
             "Participated in the Meetup.com Pilot Program as a top organizer."]
     :metadata-header "Berlin, Germany"
     :metadata-subheader "March 2017 - Present"}]}

  {:name "Education"
   :items
   [{:header "University of Oregon"
     :subheader "Master of Business Administration"
     :subnote "Specialization in Entrepreneurship"
     :metadata-header "Eugene, Oregon, United States"
     :metadata-subheader "September 2011 - March 2013"}

    {:header "Purdue University"
     :subheader "Bachelor of Science, Mathematics"
     :subnote "Minor in Computer Science"
     :metadata-header "West Lafayette, Indiana, United States"
     :metadata-subheader "August 2004 - May 2008"}]}

  {:name "Skills"
   :lists
   [{:header "Technical Skills"
     :sublists
     [{:name "Preferred Technologies"
       :values ["AWS"
                "Terraform"
                "Ansible"
                "DigitalOcean"
                "Clojure"
                "ClojureScript"
                "Python (Django, Flask)"
                "Ruby (Rails, Sinatra, Padrino)"
                "PostgreSQL"
                "React"
                "Ubuntu"
                "macOS"]}

      {:name "Other Technologies"
       :values ["D"
                "JavaScript"
                "HTML"
                "CSS"
                "SASS"
                "openSUSE"
                "PHP"
                "Windows"
                "Adobe Photoshop"
                "Microsoft Office"
                "GIMP"
                "MongoDB"
                "MySQL"
                "Sketch"
                "Chef"]}

      {:name "Human Languages"
       :values ["English (native)"
                "German (conversational)"
                "Korean (Seoul National University Certification, Level 2)"
                "Mandarin Chinese (beginner)"]}]}]}]}
